* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    background: #f8f8f8;
    min-height: 150vh;
}
.container {
    position: relative;
    width: 100%;
}
header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 22px 30px 0 30px;
    background: #800000;
}
.header__top {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 20px 0;
    border-bottom: 2px solid #f8f8f8;
}
.logo{
    position: relative;
    width: 20em;
    height: 14em;
    background: red;
}
.header__top ul {
    position: relative;
    display: flex;
    gap: 0.5em;
}
.header__top ul li {
    list-style: none;
    color: #f8f8f8;
}
.header__top > ul li a {
    position: relative;
    font-family: consolas, "Courier New", monospace;
    text-decoration: none;
    color: #f8f8f8;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav {
    position: relative;
    top: 25px;
    width: 100%;
}
.nav ul {
    position: relative;
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #800000;
    border-radius: 10px;
}
.nav ul li {
    display: inline-block;
    list-style: none;
    cursor: pointer;
}
.nav ul li .nav__element {
    position: relative;
    top: 5px;
    display: block;
    color: #f8f8f8;
    font-family: consolas;
    font-size: 1.1em;
    font-weight: 400;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.5em 0.5em;
    padding-bottom: 0.7em;
}
 .nav ul li.active span,
.nav ul li:hover span {
    background: #f8f8f8;
    color: #800000;
}

.nav ul li.active span::before,
.nav ul li:hover span::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: -15px;
    width: 15px;
    height: 15px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 0 #f8f8f8;
    background: transparent;
    pointer-events: none;
}
.nav ul li.active span::after,
.nav ul li:hover span::after{
    content: "";
    position: absolute;
    bottom: 5px;
    right: -15px;
    width: 15px;
    height: 15px;
    border-bottom-left-radius: 10px;
    box-shadow: -5px 5px 0 #f8f8f8;
    background: transparent;
    pointer-events: none;
}
.atooltip {
    position: absolute;
    top: 0.7em;
    left: 0;
    width: 100%;
    background: black;
    padding: 1em;
    margin-top: 1.2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
    background: linear-gradient(transparent, #fff);
    transition: 0.5s;
}
.list:hover > .atooltip {
    visibility: visible;
    opacity: 1;
    top: 1.7em;
}
.atooltip > div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.2em;
    padding: 0.5em 1em;
}
.atooltip > div a {
    text-decoration: none;
    color: #b69090;
    font-size: 1em;
    letter-spacing: 0.5px;
}
.atooltip > div a:hover {
    color: #800000;
}